<!DOCTYPE html>
<html>
<head>
  <script src='./bundle.js'></script>
  <link rel='stylesheet' href='./style.css'>
  <meta charset="UTF-8">
  <link rel="stylesheet" href='./node_modules/bootstrap/dist/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./node_modules/codemirror/lib/codemirror.css">
</head>
<body>
  <div id='main' style='padding: 10px'>
    <nav class='navbar navbar-default'>
      <div class='container'>
        <a class="navbar-brand" href="#">qiita-stock-js</a>
        <ul class='nav navbar-nav navbar-right'>
          <li><a href='#' v-on='click: run'>Run</a></li>
          <li><a href='#' v-on='click: post'>Post to Qiita</a></li>
          <li><a href='#'>Load from Qiita</a></li>
        </ul>
      </div>
    </nav>
    <div class='row'>
      <section class="editor col-md-6">
        <div class='panel panel-default'>
          <div class='panel-heading'> Code </div>
          <div class="panel-body">
            <textarea v-codemirror='source'></textarea>
          </div>
        </div>
      </section>
      <section class="result col-md-6">
        <div class='panel panel-default'>
          <div class='panel-heading'> iframe </div>
          <div class="panel-body">
            <div v-sandbox></div>
          </div>
        </div>
      </section>
    </div>
    <!--
      <form v-show='postModalVisible'>
        <label><input type='checkbox' v-model='secret'>Secret</label>
        <label><input type='checkbox' v-model='tweet'>Tweet</label>
        <input type='submit'></button>
      </form>
    -->
    <div class='panel panel-default'>
      <div class='panel-heading'>Markdown</div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Title</dt>
          <dd>{{title}}</dd>
          <dt>Tags</dt>
          <dd>{{tags}}</dd>
        </dl>
        <pre v-text='markdown'></pre>
      </div>
    </div>
  </div>
</body>
</html>
